/*to undo react bootstrap defaults*/
.card {
    border: unset !important;
    background-color: rgba(0, 0, 0, 0.887);
    color: white;
    z-index: 1;
}

.condition-card {
    margin: 10px 0px;
}

.condition-icon {
    /* padding: 5px 5px 5px 0px; */
    display: inline-flex;
    align-self: self-start;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.value {
    border-radius: 5px;
    border: 1px solid rgba(60, 65, 74, 1) !important;
    background-color: rgb(48, 53, 60, 1);
    padding: 4px 12px;
    margin-bottom: 0.5rem;
}

.label-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 4px 0px 4px 8px;

    background-color: unset;
    border: 1px solid rgba(60, 65, 74, 1) !important;

}

.label {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    margin: auto;
    padding: 3px;

    /* background-color: unset; */
    border: 10px solid rgba(60, 65, 74, 1);
}

.status-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img, svg {
    height: 20px;
    margin-right: 5px;
}

.list-relationship {
    transform: rotateY(0deg) rotate(-45deg);
}

.manual-progress {
    width: 100%;
}

.dynamic-none {
    margin: 0px 5px 0px !important;
}

.attachment {
    font-size: 25px;
    border: 1px solid black !important;
    border-radius: 4px;

}

.attachment:hover {
    border: 1px solid lime !important;
}
