.from-to {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    border-radius: 5px;
    border: 1px solid rgba(60, 65, 74) !important;
    background-color: transparent;
    padding: 4px 12px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.status-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-label {
    width: 25%;
    color: rgb(173, 179, 189, 1);
}

.status-trigger {
    width: 75%;
}

.initials {
    color: black;
    margin-left: 6px;
}

.person-icon {
    margin-top: 15px;
}

.icon-circle {
    border: 7px solid black;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


.dynamic-assignee-icon {
    margin-left: 50% !important;
}

.space {
    margin-right: 5px;
}

.dynamic-tooltip {
    /* position: fixed; */
    z-index: 5;
}

.extras-tip {
    max-width: 70% !important;
    display: "block";
    z-index: 5;
}

.triggered-icon {
    margin-left: 32% !important;
}