.from-to {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    border-radius: 5px;
    border: 1px solid rgba(60, 65, 74) !important;
    background-color: transparent;
    padding: 4px 12px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.status-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-label {
    width: 25%;
    color: rgb(173, 179, 189, 1);
}

.status-trigger {
    width: 75%;
}

.initials {
    color: black;
    margin-left: 6px;
}

.person-icon {
    margin-top: 15px;
}

.icon-circle {
    border: 7px solid black;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.empty-circle {
    border-radius: 50%;
    border-style: dashed;
    height: 100%;
    width: 100%;
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23CDC7C8FF' stroke-width='4' stroke-dasharray='10%25%2c 13%25' stroke-dashoffset='77' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px; */
}

.dynamic-assignee-icon {
    margin-left: 50% !important;
}

.space {
    margin-right: 5px;
}

.dynamic-tooltip {
    /* position: fixed; */
    z-index: 5;
}

.extras-tip {
    max-width: 70% !important;
    display: "block";
    z-index: 5;
}

.triggered-icon {
    margin-left: 32% !important;
}