.from-to {
    display: flex;
    flex-direction: row;
}

.status {
    border-radius: 5px;
    border: 1px solid rgba(60, 65, 74) !important;
    background-color: transparent;
    padding: 4px 12px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.status-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}