.clickup-icon-light {
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    display: flex;
    align-content: center;
}

.action-header-container {
    flex-direction: row;
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.887);
    color: white;
    border-radius: 5px;
    height: 100px;
}

.action-text {
    color: grey;
}

.status {
    border-radius: 5px;
    border: 1px solid rgba(60, 65, 74) !important;
    background-color: transparent;
    padding: 4px 12px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*to undo react bootstrap defaults*/
.card {
    border: unset !important;
}

.text {
    color: white;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.change-assignee-field {
    border: 1px solid rgba(60, 65, 74, 1);
    border-radius: 5px;
    padding: 0px 12px 0px 12px;
    height: 45px;
}

.check-icon {
    color: rgba(100, 198, 162, 1);
    background-color: white;
}

.uncheck-icon {
    color: transparent;
    border: 1px solid rgba(60, 65, 74, 1);
    border-radius: 3px;
}